<a href="https://colab.research.google.com/github/Hsuyeon01/ESAA/blob/main/0411_%EA%B3%BC%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 12-1 datetime 오브젝트 ##

datetime 라이브러리는 날짜와 시간을 처리하는 등의 다양한 기능을 제공하는 파이썬 라이브러리
- 날짜를 처리하는 date 오브젝트
- 시간을 처리하는 time 오브젝트 
- 날짜와 시간을 모두 처리하는 datetime 오브젝트

**datetime 오브젝트 사용하기**

1. datetime 오브젝트를 사용하기 위해 datetime 라이브러리를 불러옴

In [ ]:
from datetime import datetime

2. now.today 메서드를 사용하면 다음과 같이 현재 시간을 출력할 수 있음

In [ ]:
now1 = datetime.now()
print(now1)

2022-04-11 01:37:54.514429

In [ ]:
now2 = datetime.today()
print(now2)

2022-04-11 01:37:54.734989

3. datetime 오브젝트를 생성할 때 시간을 직접 입력하여 인자로 전달한 것, 입력한 시간을 바탕으로 datetime 오브젝트가 생성됨

In [ ]:
t1 = datetime.now()
t2 = datetime(1970,1,1)
t3 = datetime(1970,12,12,13,24,34)

print(t1)
print(t2)
print(t3)

2022-04-11 01:37:55.103724
1970-01-01 00:00:00
1970-12-12 13:24:34

4. datetime 오브젝트는 시간계산 가능

In [ ]:
diff1 = t1 - t2

print(diff1)
print(type(diff1))

19093 days, 1:37:55.103724
<class 'datetime.timedelta'>

In [ ]:
diff2 = t2 - t1

print(diff2)
print(type(diff2))

-19094 days, 22:22:04.896276
<class 'datetime.timedelta'>

**테슬라 주식 데이터로 시간 계산하기**

In [ ]:
# pandas-datereader 라이브러리 설치

import pandas as pd
!pip install pandas-datareader

Collecting pandas-datareader
  Downloading pandas_datareader-0.10.0-py3-none-any.whl (109 kB)
Requirement already satisfied: lxml in c:\users\user\anaconda3\lib\site-packages (from pandas-datareader) (4.6.1)
Requirement already satisfied: pandas>=0.23 in c:\users\user\anaconda3\lib\site-packages (from pandas-datareader) (1.1.3)
Requirement already satisfied: requests>=2.19.0 in c:\users\user\anaconda3\lib\site-packages (from pandas-datareader) (2.24.0)
Requirement already satisfied: numpy>=1.15.4 in c:\users\user\anaconda3\lib\site-packages (from pandas>=0.23->pandas-datareader) (1.22.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\user\anaconda3\lib\site-packages (from pandas>=0.23->pandas-datareader) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\user\anaconda3\lib\site-packages (from pandas>=0.23->pandas-datareader) (2020.1)
Requirement already satisfied: idna<3,>=2.5 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (1.25.11)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas-datareader) (1.15.0)
Installing collected packages: pandas-datareader
Successfully installed pandas-datareader-0.10.0

1. get_data_quanal 메서드에 TSLA라는 문자열을 전달하여 테슬라의 주식 데이터를 내려받은 다음 to_csv 메서드를 이용하여 data 폴더 안에 tesla_stock_quandl.csv라는 이름으로 저장

In [ ]:
pd.core.common.is_list_like = pd.api.types.is_list_like
import pandas_datareader as pdr

In [ ]:
# tesla에는 데이터프레임이 저장됨
tesla = pdr.get_data_quandl('TSLA', api_key = '9LRnE9y4Yr4Hx2NoKEaf')

In [ ]:
# tesla에 저장된 데이터프레임을 파일로 저장
tesla.to_csv('c:/Temp/tesla_stock_quandl.csv')

2. tesla 데이터프레임의 Date열은 문자열로 저장되어 있음, datetime 오브젝트로 자료형을 변환

In [ ]:
print(tesla.head())

              Open    High     Low   Close      Volume  ExDividend  \
Date
2018-03-27  304.00  304.27  277.18  279.18  13696168.0         0.0
2018-03-26  307.34  307.59  291.36  304.18   8324639.0         0.0
2018-03-23  311.25  311.61  300.45  301.54   6600538.0         0.0
2018-03-22  313.89  318.82  308.18  309.10   4914307.0         0.0
2018-03-21  310.25  322.44  310.19  316.53   5927881.0         0.0

            SplitRatio  AdjOpen  AdjHigh  AdjLow  AdjClose   AdjVolume
Date
2018-03-27         1.0   304.00   304.27  277.18    279.18  13696168.0
2018-03-26         1.0   307.34   307.59  291.36    304.18   8324639.0
2018-03-23         1.0   311.25   311.61  300.45    301.54   6600538.0
2018-03-22         1.0   313.89   318.82  308.18    309.10   4914307.0
2018-03-21         1.0   310.25   322.44  310.19    316.53   5927881.0

3. Date열을 Datetime 형으로 변환하려면 read_csv 메서드로 데이터 집합을 불러올 때 parse_datees 인자에 Date 열을 전달하면 됨

In [ ]:
tesla = pd.read_csv('c:/Temp/tesla_stock_quandl.csv', parse_dates=[0])
print(tesla.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        240 non-null    datetime64[ns]
 1   Open        240 non-null    float64
 2   High        240 non-null    float64
 3   Low         240 non-null    float64
 4   Close       240 non-null    float64
 5   Volume      240 non-null    float64
 6   ExDividend  240 non-null    float64
 7   SplitRatio  240 non-null    float64
 8   AdjOpen     240 non-null    float64
 9   AdjHigh     240 non-null    float64
 10  AdjLow      240 non-null    float64
 11  AdjClose    240 non-null    float64
 12  AdjVolume   240 non-null    float64
dtypes: datetime64[ns](1), float64(12)
memory usage: 24.5 KB
None

4. Date 열의 자료형이 datetime 오브젝트로 변환됨, dt 접근자를 사용할 수 있음

In [ ]:
print(tesla.loc[(tesla.Date.dt.year == 2017)& (tesla.Date.dt.month == 6)])

                 Date     Open      High       Low   Close      Volume  \
Date
2017-06-30 2017-06-30  363.710  366.7674  359.6187  361.61   5759458.0
2017-06-29 2017-06-29  370.610  371.0000  354.1000  360.75   8180408.0
2017-06-28 2017-06-28  366.680  371.7400  362.5200  371.24   6245040.0
2017-06-27 2017-06-27  376.400  376.4000  362.0200  362.37   6884529.0
2017-06-26 2017-06-26  386.690  386.9500  373.1000  377.49   6575285.0
2017-06-23 2017-06-23  382.450  386.9900  379.3450  383.45   6176578.0
2017-06-22 2017-06-22  377.990  385.0000  373.5700  382.61   7485677.0
2017-06-21 2017-06-21  374.350  376.9900  368.0200  376.40   4900356.0
2017-06-20 2017-06-20  376.670  378.8800  369.7300  372.24   7396357.0
2017-06-19 2017-06-19  375.000  376.7000  367.8000  369.80   6392331.0
2017-06-16 2017-06-16  377.975  378.0100  370.1000  371.40   6259666.0
2017-06-15 2017-06-15  372.500  375.4600  366.4900  375.34  10371559.0
2017-06-14 2017-06-14  381.085  384.2500  376.3100  380.66  12731997.0
2017-06-13 2017-06-13  367.620  376.0000  366.6100  375.95  11693404.0
2017-06-12 2017-06-12  357.990  364.5000  350.6200  359.01  10476833.0
2017-06-09 2017-06-09  374.420  376.8700  354.8000  357.32  17160231.0
2017-06-08 2017-06-08  363.750  371.9000  360.2200  370.00   8975028.0
2017-06-07 2017-06-07  356.340  360.5000  355.1400  359.65   9287888.0
2017-06-06 2017-06-06  344.700  359.4929  339.9700  352.85  10951473.0
2017-06-05 2017-06-05  338.500  348.4400  334.2100  347.32   6737855.0
2017-06-02 2017-06-02  339.770  342.8800  335.9300  339.85   5570256.0
2017-06-01 2017-06-01  344.000  344.8800  337.2900  340.37   7580447.0

            ExDividend  SplitRatio  AdjOpen   AdjHigh    AdjLow  AdjClose  \
Date
2017-06-30         0.0         1.0  363.710  366.7674  359.6187    361.61
2017-06-29         0.0         1.0  370.610  371.0000  354.1000    360.75
2017-06-28         0.0         1.0  366.680  371.7400  362.5200    371.24
2017-06-27         0.0         1.0  376.400  376.4000  362.0200    362.37
2017-06-26         0.0         1.0  386.690  386.9500  373.1000    377.49
2017-06-23         0.0         1.0  382.450  386.9900  379.3450    383.45
2017-06-22         0.0         1.0  377.990  385.0000  373.5700    382.61
2017-06-21         0.0         1.0  374.350  376.9900  368.0200    376.40
2017-06-20         0.0         1.0  376.670  378.8800  369.7300    372.24
2017-06-19         0.0         1.0  375.000  376.7000  367.8000    369.80
2017-06-16         0.0         1.0  377.975  378.0100  370.1000    371.40
2017-06-15         0.0         1.0  372.500  375.4600  366.4900    375.34
2017-06-14         0.0         1.0  381.085  384.2500  376.3100    380.66
2017-06-13         0.0         1.0  367.620  376.0000  366.6100    375.95
2017-06-12         0.0         1.0  357.990  364.5000  350.6200    359.01
2017-06-09         0.0         1.0  374.420  376.8700  354.8000    357.32
2017-06-08         0.0         1.0  363.750  371.9000  360.2200    370.00
2017-06-07         0.0         1.0  356.340  360.5000  355.1400    359.65
2017-06-06         0.0         1.0  344.700  359.4929  339.9700    352.85
2017-06-05         0.0         1.0  338.500  348.4400  334.2100    347.32
2017-06-02         0.0         1.0  339.770  342.8800  335.9300    339.85
2017-06-01         0.0         1.0  344.000  344.8800  337.2900    340.37

             AdjVolume
Date
2017-06-30   5759458.0
2017-06-29   8180408.0
2017-06-28   6245040.0
2017-06-27   6884529.0
2017-06-26   6575285.0
2017-06-23   6176578.0
2017-06-22   7485677.0
2017-06-21   4900356.0
2017-06-20   7396357.0
2017-06-19   6392331.0
2017-06-16   6259666.0
2017-06-15  10371559.0
2017-06-14  12731997.0
2017-06-13  11693404.0
2017-06-12  10476833.0
2017-06-09  17160231.0
2017-06-08   8975028.0
2017-06-07   9287888.0
2017-06-06  10951473.0
2017-06-05   6737855.0
2017-06-02   5570256.0
2017-06-01   7580447.0

### datetime 오브젝트와 인덱스 - DatetimeIndex ###

datetime을 인덱스로 지정하는 방법

**datetime 오브젝트를 인덱스로 설정해 데이터 추출하기**

1. Date열을 tesla 데이터프레임의 인덱스로 지정

In [ ]:
tesla.index = tesla['Date']
print(tesla.index)

DatetimeIndex(['2018-03-27', '2018-03-26', '2018-03-23', '2018-03-22',
               '2018-03-21', '2018-03-20', '2018-03-19', '2018-03-16',
               '2018-03-15', '2018-03-14',
               ...
               '2017-04-26', '2017-04-25', '2017-04-24', '2017-04-21',
               '2017-04-20', '2017-04-19', '2017-04-18', '2017-04-17',
               '2017-04-13', '2017-04-12'],
              dtype='datetime64[ns]', name='Date', length=240, freq=None)

2. datetime 오브젝트를 인덱스로 지정하면 원하는 시간의 데이터를 바로 추출할 수 있음

In [ ]:
print(tesla.loc['2017'].iloc[:5, :5])

                 Date    Open      High     Low   Close
Date
2017-12-29 2017-12-29  316.18  316.4100  310.00  311.35
2017-12-28 2017-12-28  311.75  315.8200  309.54  315.36
2017-12-27 2017-12-27  316.00  317.6800  310.75  311.64
2017-12-26 2017-12-26  323.83  323.9400  316.58  317.29
2017-12-22 2017-12-22  329.51  330.9214  324.82  325.20

3. 2017년 6월의 데이터 추출

In [ ]:
print(tesla.loc['2017-06'].iloc[:5,:5])

                 Date    Open      High       Low   Close
Date
2017-06-30 2017-06-30  363.71  366.7674  359.6187  361.61
2017-06-29 2017-06-29  370.61  371.0000  354.1000  360.75
2017-06-28 2017-06-28  366.68  371.7400  362.5200  371.24
2017-06-27 2017-06-27  376.40  376.4000  362.0200  362.37
2017-06-26 2017-06-26  386.69  386.9500  373.1000  377.49

### 시간과 간격 인덱스 - TimedeltaIndex ###

datetime 오브젝트를 인덱스로 지정하는 것이 아니라 시간 간격을 인덱스로 지정하여 진행

**시간 간격을 인덱스로 지정해 데이터 추출

1. Date 열에서 Date 열의 최솟값을 빼면 데이터를 수집한 이후에 시간일 얼마나 흘렀는지 알 수 있음, Date열에서 Date 열의 최솟값을 뺀 다음 ref_date열로 추가

In [ ]:
tesla['ref_date'] = tesla['Date'] - tesla['Date'].min()
print(tesla.head())

                 Date    Open    High     Low   Close      Volume  ExDividend  \
Date
2018-03-27 2018-03-27  304.00  304.27  277.18  279.18  13696168.0         0.0
2018-03-26 2018-03-26  307.34  307.59  291.36  304.18   8324639.0         0.0
2018-03-23 2018-03-23  311.25  311.61  300.45  301.54   6600538.0         0.0
2018-03-22 2018-03-22  313.89  318.82  308.18  309.10   4914307.0         0.0
2018-03-21 2018-03-21  310.25  322.44  310.19  316.53   5927881.0         0.0

            SplitRatio  AdjOpen  AdjHigh  AdjLow  AdjClose   AdjVolume  \
Date
2018-03-27         1.0   304.00   304.27  277.18    279.18  13696168.0
2018-03-26         1.0   307.34   307.59  291.36    304.18   8324639.0
2018-03-23         1.0   311.25   311.61  300.45    301.54   6600538.0
2018-03-22         1.0   313.89   318.82  308.18    309.10   4914307.0
2018-03-21         1.0   310.25   322.44  310.19    316.53   5927881.0

           ref_date
Date
2018-03-27 349 days
2018-03-26 348 days
2018-03-23 345 days
2018-03-22 344 days
2018-03-21 343 days

2. ref_date 열을 인덱스로 지정, 시간 간격을 이용하여 데이터 추출 가능

In [ ]:
tesla.index = tesla['ref_date']
print(tesla.iloc[:5,:5])

               Date    Open    High     Low   Close
ref_date
349 days 2018-03-27  304.00  304.27  277.18  279.18
348 days 2018-03-26  307.34  307.59  291.36  304.18
345 days 2018-03-23  311.25  311.61  300.45  301.54
344 days 2018-03-22  313.89  318.82  308.18  309.10
343 days 2018-03-21  310.25  322.44  310.19  316.53

3. 데이터 수집한 이후 최초 5일의 데이터 추출

In [ ]:
print(tesla['5 days':].iloc[:5,:5])

               Date    Open      High     Low   Close
ref_date
5 days   2017-04-17  302.70  304.0000  298.68  301.44
1 days   2017-04-13  296.70  307.3900  295.30  304.00
0 days   2017-04-12  306.34  308.4481  296.32  296.84

### 시간 범위와 인덱스 ###

특정 일에 누락된 데이터도 포함시켜 데이터를 살펴보려면 임의로 시간 범위를 생성하여 인덱스로 지정

**시간 범위 생성해 인덱스로 지정하기**

1. 에볼라 데이터 집합을 사용

In [ ]:
ebola = pd.read_csv('c:/Temp/country_timeseries.csv', parse_dates=[0])
print(ebola.iloc[:5,:5])

        Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0 2015-01-05  289        2776.0            NaN            10030.0
1 2015-01-04  288        2775.0            NaN             9780.0
2 2015-01-03  287        2769.0         8166.0             9722.0
3 2015-01-02  286           NaN         8157.0                NaN
4 2014-12-31  284        2730.0         8115.0             9633.0

2. 2014년 3월 23일의 데이터가 누락

In [ ]:
print(ebola.iloc[-5:,:5])

          Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
117 2014-03-27    5         103.0            8.0                6.0
118 2014-03-26    4          86.0            NaN                NaN
119 2014-03-25    3          86.0            NaN                NaN
120 2014-03-24    2          86.0            NaN                NaN
121 2014-03-22    0          49.0            NaN                NaN

3. data_range 메서드를 사용하여 2014년 12월 31일부터 2015년 1월 5일 사이의 시간 인덱스를 생성

In [ ]:
head_range = pd.date_range(start='2014-12-31', end='2015-01-05')
print(head_range)

DatetimeIndex(['2014-12-31', '2015-01-01', '2015-01-02', '2015-01-03',
               '2015-01-04', '2015-01-05'],
              dtype='datetime64[ns]', freq='D')

4. 원본 데이터가 손상시키는것을 방지하기 위해 ebola 데이터 프레임의 앞쪽 5개의 데이터를 추출하여 새로운 데이터 프레임을 만듦, Date열을 인덱스로 먼저 지정하지 않으면 오류 발생

In [ ]:
ebola_5 = ebola.head()
ebola_5.index = ebola_5['Date']
ebola_5.reindex(head_range)
print(ebola_5.iloc[:5, :5])

                 Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
Date
2015-01-05 2015-01-05  289        2776.0            NaN            10030.0
2015-01-04 2015-01-04  288        2775.0            NaN             9780.0
2015-01-03 2015-01-03  287        2769.0         8166.0             9722.0
2015-01-02 2015-01-02  286           NaN         8157.0                NaN
2014-12-31 2014-12-31  284        2730.0         8115.0             9633.0

**시간 범위의 주기 설정하기**

freq 속성값으로 사용할 수 있는 시간 주기

- B : 평일만 포함
- C : 사용자가 정의한 평일만 포함
- D : 달력 일자 단위
- W : 주간 단위
- M : 월 마지막 날만 포함
- SM : 15일과 월 마지막 날만 포함
- BM : M 주기의 값이 휴일이면 제외하고 평일만 포함
- CBM : BM에 사용자 정의 평일을 적용
- MS : 월 시작일만 포함
- SMS : 월 시작일과 15일만 포함
- BMS : MS 주기의 값이 휴일이면 제외하고 평일만 퐇마